*{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.frameCalculator{
	box-sizing: border-box;
	width: 460px;
	margin: 10px;
	padding: 40px 30px 55px 30px;
	background-color: #eee;
	border: 2px solid #aaa;
	border-radius: 9px;
}
.touch{
	display: inline-block;
	box-sizing: border-box;

}
.touch:hover{
	background-color: #E49AF6;
}
.frameResultat{
	box-sizing: border-box;
	background-color: #B4ED76;
	width: 384px;
	height: 70px;
	border: 1px solid #000;
	border-radius: 10px;
	margin-left: 5px;
	margin-top: 0px;
	margin-bottom: 25px;
}
.resNum{
	width: 80%;
	line-height: 30px;
	text-align: right;
	margin-left: 58px;
	margin-top: 5px;
	font-size: 22px;
	color: #777777;

}
.resText{
	width: 90%;
	margin-top: 10px;
	margin-left: 15px;
	color: #777777;


}
.num{
	box-sizing: border-box;
	width: 70px;
	height: 65px;
	line-height: 63px;
	background-color: #FFC274;
	border: 1px solid #000;
	font-size: 35px;
	text-align: center;
	margin-top: 8px;
	margin-left: 5px;
	color: #777777;
	border-radius: 13px;
	cursor: pointer;

}
.specialButton{
	font-style: italic;
	background-color: #ccc;

}
.num0{
	width: 149px;
	margin-left: 5px;

}
.equal{
	width: 149px;
	margin-left: 5px;
	background-color: #B4ED76;

}

@keyframes myScaleAnimate {
	from {transform: scale(0.9);}
	to {transform: scale(1);}
}